body {
    font-family: "Helvetica", sans-serif;
}

.app-main {
    max-width: 80%;
    margin: 100px auto;
}

header{
    padding: 0 0 1em;
    margin: 0 0 2em;
    border-bottom: 1px solid #333;
}

footer{
    padding: 1em 0 0;
    margin: 2em 0 0;
    border-top: 1px solid #e7e7e7;
}
